body {
    background:linear-gradient(to bottom, #5f50d2, #5ca7e5);
	height: 100vh;
}

.top {

    align-items: center;
    text-align: center;
    margin-top: 50px ;
}

.flashcards-container {
    display: flex;
    gap: 50px; /* Adjust the space between flashcards */
}

.flashcard {
    background-color: rgb(29, 22, 22);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 600px;
    height: 100px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;

}

.flashcard.active {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;

    transform: rotateY(0deg); 
}

.front {
   background: linear-gradient(to bottom , rgb(56, 56, 214) , rgb(65, 153, 225) );
    color: white;
}

.back {
    background-color: #1d1919;
    color: white;
    transform: rotateY(180deg);
    
}

.flashcard-content {
    font-size: 18px;
    color:whitesmoke ;
}


.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
}

.wrapper span {
	position: fixed;
	bottom: -180px;
	height: 50px;
	width: 50px;
	z-index: -1;
	background-color: #373a3c;
	box-shadow: 0 0 50px #063f84, 0 0 100px #053d81, 0 0 150px #053a7a, 0 0 200px #074a9b;
	animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1) {
	left: 60px;
	animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
	left: 10%;
	animation-delay: 3s;
	width: 60px;
	height: 60px;
}
.wrapper span:nth-child(3) {
	left: 20%;
	animation-delay: 2s;
}
.wrapper span:nth-child(4) {
	left: 30%;
	animation-delay: 5s;
	width: 80px;
	height: 80px;
}
.wrapper span:nth-child(5) {
	left: 40%;
	animation-delay: 1s;
}
.wrapper span:nth-child(6) {
	left: 50%;
	animation-delay: 7s;
}
.wrapper span:nth-child(7) {
	left: 60%;
	animation-delay: 6s;
	width: 100px;
	height: 100px;
}
.wrapper span:nth-child(8) {
	left: 70%;
	animation-delay: 8s;
}
.wrapper span:nth-child(9) {
	left: 80%;
	animation-delay: 6s;
	width: 90px;
	height: 90px;
}
.wrapper span:nth-child(10) {
	left: 90%;
	animation-delay: 4s;
}
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.content h2 b {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #cf2020;
	font-family: montserrat;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 12px;
}
@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	80% {
		opacity: .7;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

.projects_1 {
	width: 700px; /* Increased width */
    height: 600px; /* Increased height */
    margin: 50px; /* Removed 'auto' for left alignment */
    border: 4px solid rgb(50, 50, 50); /* Retained the border */
    background-image: linear-gradient(to bottom, rgb(48, 136, 11), rgb(18, 225, 70) 70%);
    background-image: -webkit-linear-gradient(to bottom, blue, lightblue 70%); /* Webkit fallback */
    float: left; /* Align the box to the left */
	 border-radius: 15px 50px 30px;
	 align-items: center;
}

.projects_2{
	width: 700px; /* Increased width */
    height: 600px; /* Increased height */
    margin: 50px; /* Removed 'auto' for left alignment */
    border: 4px solid rgb(50, 50, 50); /* Retained the border */
    background-image: linear-gradient(to bottom, rgb(48, 136, 11), rgb(18, 225, 70) 70%);
    background-image: -webkit-linear-gradient(to bottom, blue, lightblue 70%); /* Webkit fallback */
    float: right; /* Align the box to the left */
	 border-radius: 15px 50px 30px;
	 align-items: center;
}



 
